<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }} -- Abo's GitHub Pages</title>
  <meta name="author" content="Shengbo Huang" />
  <link rel='alternate' type='application/atom+xml' title='full articles' href='' />
  <link rel='alternate' type='application/rss+xml' title='comments' href='' />

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

  <!-- homepage CSS, imports others -->
  <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen, projection" />
</head>

<body>
  <div id="site">
    <div id="page">
      
      <div id="content">
        {{ content }}
      </div>
      
      <div id="sidebar">        
        <div id="header">
          <a href="/"><h1>Abo's GitHub Pages</h1></a>
        </div>

        <h3>Abo</h3>
        <ul>
          <li><p class='indented'>loooooooooser!<p></li>    
          <!--li>Google Talk/Email: huangshengbo@gmail.com</li-->
          <li>
            <a href="http://github.com/abo">GitHub</a>,
          	<a href="http://twitter.com/huangshengbo">Twitter</a>         
          </li>

        </ul>

        <h3 class='sidebar-title'>Blog Posts</h3>
        <ul>
          <li>
            <table>
              {% for post in site.posts %}
              <tr valign='top'>
                <td nowrap><span class='date'>{{ post.date | date_to_string }}</span></td>
                <td> &raquo; </td>
                <td><a href="{{ post.url }}">{{ post.title }}</a></td>
              </tr>
              {% endfor %}
            </table>
          </li>
        </ul>

        <h3 class='sidebar-title'>Google Reader Shared Items</h3>        
        <script type="text/javascript" src="http://www.google.com/reader/ui/publisher-en.js"></script>
				<script type="text/javascript" src="http://www.google.com/reader/public/javascript/user/08699935784227353488/state/com.google/broadcast?n=8&callback=GRC_p(%7Bc%3A%22-%22%2Ct%3A%22%22%2Cs%3A%22false%22%2Cn%3A%22true%22%2Cb%3A%22false%22%7D)%3Bnew%20GRC"></script>

				<h3 class='sidebar-title'>Books</h3>
					<ul>
						<script type="text/javascript" src="http://www.douban.com/service/badge/41491733/?show=dolist&amp;n=10&amp;columns=3&amp;hidelogo=yes&amp;hideself=yes&amp;cat=book" ></script>
					</ul>
					
        <h3 class='sidebar-title'>Links</h3>
        <ul>
          <!--<li><a href="" title=""></a></li>-->
        </ul>

        <h3 class='sidebar-title'>Feeds</h3>
        <ul>         
          <!--<li><a href="" title="github feed">github</a></li>-->
          <!--<li><a href="" title="twitter feed">twitter</a></li>-->
        </ul>
      </div><!-- end of sidebar -->  	
			
      <div id='footer'>      	
      	Theme inspired by <a href="http://alpinegizmo.com/">David Anderson</a>.Comments powered by <a href="http://disqus.com">Disqus</a>. Hosted by <a href="http://github.com">GitHub</a>,Powered by <a href="http://wiki.github.com/mojombo/jekyll/">Jekyll</a>. 
        Content Copyright &copy; 2010 Shengbo Huang. <br />        
      </div>

    </div><!-- end of page -->
  </div><!-- end of site -->
  <!--DISQUS-->
  <!--<script type="text/javascript">
		var disqus_shortname = 'githubpages';
		(function () {
		  var s = document.createElement('script'); s.async = true;
		  s.src = 'http://disqus.com/forums/githubpages/count.js';
		  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
	</script>-->
	<!--Google Analytics-->
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-15992252-1");
		pageTracker._trackPageview();
		} catch(err) {}
	</script>
</body>
</html>
